<mat-dialog-content class="mat-typography">
    <h3>Develop across all platforms</h3>
    <!-- <label class="id-label">ID:</label><br>
    <input class="id-input" value="user.id"><br> -->
    <div class="first-name-label">First Name:</div>
    <input #firstNameInput  value="{{user.firstName}}"><br>
    <div class="last-name-label">Last Name:</div>
    <input #lastNameInput  value="{{user.lastName}}"><br>
    <div class="role-label">Role:</div>
    <input #roleInput  value="{{user.role}}">
  </mat-dialog-content>