<ul mat-button [matMenuTriggerFor]="menu"><span>{{ productNumber }}</span>
  <li content="width=device-width, initial-scale=1" class="fa fa-shopping-cart"
  style="font-size: 36px;" ng-reflect-router-link-active="">
  </li>
</ul>

<!-- <button mat-button [matMenuTriggerFor]="menu">{{ productNumber }}
<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
  <path d="M0 0h24v24H0z" fill="none"/><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
</svg>
</button> -->
<div #wrapper>

<!-- <button class="MuiButtonBase-root MuiIconButton-root sc-gtsrHT lgaLJA" tabindex="0" type="button"  [matMenuTriggerFor]="menu">
    <span class="MuiIconButton-label"><span class="MuiBadge-root"><svg class="MuiSvgIcon-root" focusable="false"
       viewBox="0 0 24 24" aria-hidden="true"><path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"></path></svg>
       <span class="MuiBadge-badge MuiBadge-anchorOriginTopRightRectangle MuiBadge-colorError">{{ productNumber }}</span>
      </span></span><span class="MuiTouchRipple-root">
  </span>
</button> -->



</div>

<mat-menu #menu="matMenu"  #aboveMenu="matMenu" yPosition="above" class="cartMenu">

  <h3 class="hh">Cart</h3><br> 
  <ul  *ngIf="cartItems.length > 0" class="list-group">
    <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <li class="list-group-item" *ngFor="let item of cartItems">
      <app-shopping-cart-item [cartItem]="item"></app-shopping-cart-item>    
    </li> 
  </cdk-virtual-scroll-viewport>  -->
   <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let item of cartItems; templateCacheSize: 0" class="list-group-item">{{item}}</div>
    <app-shopping-cart-item [cartItem]="item"></app-shopping-cart-item> 
  </cdk-virtual-scroll-viewport>  -->

     <!-- <cdk-virtual-scroll-viewport itemSize="5" class="example-viewport">  -->
      <li class="list-group-item" *ngFor="let item of cartItems">
        <app-shopping-cart-item [cartItem]="item"></app-shopping-cart-item>    
      </li> 
     <!-- </cdk-virtual-scroll-viewport>    -->

    <li class="list-group-item active">
      <strong>items</strong> {{ productNumber }} <br>
      <strong>Total</strong> {{ cartTotal | currency:'$' }}    
    </li>    
    <br>
   
   <!-- <li routerLinkActive="active"><a routerLink="/shopping-cart-print">jj</a></li> -->
   <li routerLinkActive="active"><a routerLink="/shopping-payment-page"><button class="btn btn-sm btn-primary" (click)="onPagmentPage(cartItems)">


    
      <strong>Payment</strong>
     </button>   </a></li>
  </ul>
   <li class="list-group-item" *ngFor="let item of productItems">
</mat-menu> 


