<!-- <ul mat-button [matMenuTriggerFor]="menu"><span>{{ productNumber }}</span>
  <li content="width=device-width, initial-scale=1" class="fa fa-shopping-cart"
  style="font-size: 36px;" ng-reflect-router-link-active="">
  </li>
</ul> -->
<div #wrapper>

<button class="MuiButtonBase-root MuiIconButton-root sc-gtsrHT lgaLJA" tabindex="0" type="button"  [matMenuTriggerFor]="menu">
    <span class="MuiIconButton-label"><span class="MuiBadge-root"><svg class="MuiSvgIcon-root" focusable="false"
       viewBox="0 0 24 24" aria-hidden="true"><path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-9.83-3.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4h-.01l-1.1 2-2.76 5H8.53l-.13-.27L6.16 6l-.95-2-.94-2H1v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.13 0-.25-.11-.25-.25z"></path></svg>
       <span class="MuiBadge-badge MuiBadge-anchorOriginTopRightRectangle MuiBadge-colorError">{{ productNumber }}</span>
      </span></span><span class="MuiTouchRipple-root">
  </span>
</button>
  <!-- <mat-icon class="items-count" matBadge="{{ cartItems.length}" matBadgePosition="above after">
     [matBadgeHidden]="!cartItems 
<svg #svg
	 viewBox="0 0 512 440" width="64px">
<path class="st0" d="M512,20.7c0,4.7-3.8,8.4-8.4,8.4h-63.5c-22.7,0-41.1,18.4-41.1,41.1v10.2l0,0v300.1v10.5c0,32-26,58-58,58
	l-332.5,0c-4.7,0-8.4-3.8-8.4-8.4c0-4.7,3.8-8.4,8.4-8.4l269,0c0,0,0,0,0.1,0h54.8c0,0,0,0,0,0l8.6,0c22.7,0,41.1-18.4,41.1-41.1
	l0-320.8c0-32,26-58,58-58h63.5C508.2,12.3,512,16,512,20.7z M258,157.8c6.5-6.5,6.5-17,0-23.5c-6.5-6.5-17-6.5-23.5,0L208.7,160
	h47.1L258,157.8z M161.8,224.2h53.7v-47.3h-26c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0h-27.3V224.2z M230,395.1h58.6
	c10.1,0,18.4-8.2,18.4-18.4V241.1h-77V395.1z M230,224.2h95.9v-29c0-10.1-8.2-18.4-18.4-18.4H230V224.2z M121.4,160h47.5L130.8,122
	c-6.5-6.5-17.1-6.4-23.5,0.1c-6.5,6.5-6.4,17.1,0.1,23.6L121.4,160z M161.8,395.1h53.7v-154h-53.7V395.1z M72,376.7
	c0,10.1,8.2,18.4,18.4,18.4h56.9v-154H72V376.7z M147.3,176.9H71.5c-10.1,0-18.4,8.2-18.4,18.4v29h94.2V176.9z"/>
<circle class="st0 circle" cx="390.4" cy="426.8" r="50"/>
</svg>
  </mat-icon> -->


</div>

<div id="printThisCart" class="cartOfItems">

<mat-menu #menu="matMenu"  #aboveMenu="matMenu" yPosition="above">
<div class="formCart" > 
<form>  
  <h3 class="hh">Cart</h3><br>
<!-- <div id="printtt" class="cartItems" *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>   -->

  <ul  *ngIf="cartItems.length > 0" class="list-group">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <li class="list-group-item" *ngFor="let item of cartItems">
      <app-shopping-cart-item [cartItem]="item"></app-shopping-cart-item>    
    </li> </cdk-virtual-scroll-viewport> 
    <li class="list-group-item active">
      <strong>items</strong> {{ productNumber }} <br>
      <strong>Total</strong> {{ cartTotal | currency:'$' }}    
    </li>    <br>
   
   <!-- <li routerLinkActive="active"><a routerLink="/shopping-cart-print">jj</a></li> -->
    <button class="btn btn-sm btn-primary" (click)="onPagmentPage(cartItems)" routerLink="/shopping-payment">
      <!-- <app-shopping-cart-print (onPagmentPage)="cartItems($event)"></app-shopping-cart-print>    -->
      <strong>Payment</strong>
     </button>
  </ul>
  <li class="list-group-item" *ngFor="let item of productItems">

</form></div>
</mat-menu>
</div>
<!-- <button  type="button" class="btn btn-success btn-md" (click)="printThisPage('printtt') "> -->


<!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
