.cartMenu {
  /* width: 360px; */
}

.list-group-item{
  width: 300px;
}

.cartMenu {
  min-width: 112px;
  max-width: 350px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  position: absolute;
}

button {
  /* position: absolute; */
  /* height: 26px; */
  text-align: center;
  margin: auto;
  /* left: 230px;
  top: -28px; */
  width: 300px;
  background-color: black;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: black;
  border-color: black;
}
