#ignismyModal .modal-header{
    border:0px;
    display: inline;
}

.modal-header {
    padding: 6px;
}

.title {
    font-weight: bold;
}

.close-button {
    background-color: black;
    color: white;
}

.title {
    padding-top: 10px;
}

