.tbl-users {
       .header {
          display: flex;
          width: 100%;
          font-family: arial, sans-serif;
          border-collapse: collapse;       
          .col{
               border: 1px solid #dddddd;
               text-align: left;
               padding: 8px;

               }
                 
           .content { 
                       
               .full-width {
                                 
                    width: 100%;;        
               }         
               .my-row {             
                    display: flex;             
                    width: 100%; 
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                                 
                    .inner-row {
                     min-height: 100px;
                    }
               }
          }
     }

}


.my-row {
     display: flex;             
     width: 100%;
     border: 1px solid #dddddd;

     text-align: left;
     padding: 8px;
 }

 .first-name{
     // border: 1px solid #dddddd;
     width: 100%;
 }
 .last-name{
     // border: 1px solid #dddddd;
     width: 100%;
 }
 .inner-row{
     padding: 8px;
     border: 1px solid #dddddd
 }

 img {
     width: 15%;
     display: flex;       
 }
 .user-age{
     display: flex
 }

 .inner-row {
     min-height: 100px;
    }