.add-order {
  font-size: 36px;
  cursor: pointer;
}

.order-list {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  height: 500px;
  overflow: auto;

  .inner-row {
    border: 1px solid;
    padding: 4px;

    .order-code {
      display: inline-flex;

      .code-title {
        font-weight: bold;
      }
    }

    .order-name {
      padding: 2px;
      display: inline;

      .name-title {
        font-weight: bold;
      }
    }

    .date-invitation {
      padding: 2px;
      display: inline;

      .date-invitation-title {
        font-weight: bold;
      }
    }

    .date-arrival {
      padding: 2px;
      display: inline;

      .date-arrival-title {
        font-weight: bold;
      }
    }

    .total {
      padding: 2px;
      display: inline;

      .total-title {
        font-weight: bold;
        color: red;
      }

    }

  }
}


input {
  // width: 582px; 
  width: 16%;
  padding: 5px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.send-order-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  width: 98%;
}

.save-button {
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 18px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}
