<div class="modal-header">
  <button mat-button mat-dialog-close type="button" class="close" data-dismiss="modal"><span>×</span></button>
</div>
<div class="new-email">
<h2 mat-dialog-title>New Email</h2>
<mat-dialog-content class="mat-typography">  
  <span class="name-title">name:</span>
  <input #nameInput><br>
  <span class="subject-title">subject:</span>
  <input #subjectInput><br>
  <span class="description-title">description:</span>
  <textarea class="description" name="w3review" rows="4" cols="50" #descriptionInput></textarea><br>
  <button mat-button (click)="addEmail()"  mat-dialog-close class="send-email-button">send email</button>
</mat-dialog-content></div>

