<div class="modal-header">
  <button mat-button mat-dialog-close type="button" class="close" data-dismiss="modal"><span>×</span></button>
  <h3>New Email</h3>
</div><br>
<div class="new-email">
<mat-dialog-content class="mat-typography">  
  <span class="name title">Name:</span>
  <input #nameInput><br>
  <span class="subjec title">Subject:</span>
  <input #subjectInput><br>
  <span class="description title">Description:</span>
  <textarea class="description" name="w3review" rows="4" cols="50" #descriptionInput></textarea><br>
  <mat-dialog-actions align="end">
    <button mat-button (click)="addEmail()" mat-dialog-close class="send-email-button">Send Email</button>
  </mat-dialog-actions>
</mat-dialog-content>
</div>





