<div class="tbl-users">
    <div class="header">
      <div class="first-name col">First Name</div>
      <div class="last-name col">Last Name</div>
    </div>
    <div class="content">
      
      <div class="full-width" *ngFor="let user of users">
          <div class="my-row" (dblclick)="openRow(user)" [ngClass]="{'userColor': user.id%2 , 'fullScreen': !user.id%2}" >
            <div class="first-name">{{user.firstName}}</div>
            <div class="last-name">{{user.lastName}}</div>
            <!-- <div class="last-name">{{user.id%2}}</div> -->
          </div>
        <div *ngIf="user.isOpen" class="inner-row">
            <div class="user-id">ID: {{user.id}} </div>
            <div class="user-country">Country: {{user.country}} </div>
            <div class="user-city">City: {{user.city}} </div>
            <div class="user-age">Age: {{user.age}} </div>
            <div class="user-status">Status: {{user.status}} </div>
            <img class="bd-placeholder-img card-img-top p-2 user-img" [src]="user.img">
            <!-- <button class="btn btn-dark edit-user-button">edit</button> -->
            <button mat-button  class="btn btn-dark edit-user-button" (click)="openDialog(user.img)">edit</button>
        </div> 
      </div>
    </div>
   </div>
  