<div class="row">
  <div class="col-75">
    <div class="container">
      <form [formGroup]="checkOutForm">
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <mat-form-field appearance="fill">
              <label for="fname"><i class="fa fa-user"></i> Full Name</label>
              <input matInput type="text" id="fname" name="firstname" placeholder="John M. Doe"
                formControlName="fullName" required>
              <mat-error *ngIf="checkOutForm.invalid">please enter a valid name</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <label for="email"><i class="fa fa-envelope"></i> Email</label>
              <input matInput type="text" id="email" name="email" placeholder="john@example.com" formControlName="email"
                required>
              <mat-error *ngIf="checkOutForm.invalid">please enter a valid email</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
              <input matInput type="text" id="adr" name="address" placeholder="542 W. 15th Street"
                formControlName="address" required>
              <mat-error *ngIf="checkOutForm.invalid">please enter a valid address</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <label for="city"><i class="fa fa-institution"></i> City</label>
              <input matInput type="text" id="city" name="city" placeholder="New York" formControlName="city" required>
              <mat-error *ngIf="checkOutForm.invalid">please enter a valid city</mat-error>
            </mat-form-field><br>
            <div class="row">
              <div class="col-50">
                <mat-form-field appearance="fill">
                  <label for="state">State</label>
                  <input matInput type="text" id="state" name="state" placeholder="NY" formControlName="state" required>
                  <mat-error *ngIf="checkOutForm.invalid">please enter a valid state</mat-error>
                </mat-form-field><br>
              </div>
              <div class="col-50">
                <mat-form-field appearance="fill">
                  <label for="zip">Zip</label>
                  <input matInput type="number" id="zip" name="zip" placeholder="10001" formControlName="zip">
                </mat-form-field><br>
              </div>
            </div>
          </div>
          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <mat-form-field appearance="fill">
              <label for="cname">Name on Card</label>
              <input matInput type="text" id="cname" name="cardname" placeholder="John More Doe"
                formControlName="nameOnCard" required>
              <mat-error *ngIf="checkOutForm.invalid">please enter a valid card name</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <label for="ccnum">Credit card number</label>
              <input matInput type="number" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"
                formControlName="cardNumber" required>
              <mat-error *ngIf="checkOutForm.invalid">please enter a valid credit number</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <label for="expmonth">Exp Month</label>
              <input matInput type="number" id="expmonth" name="expmonth" placeholder="September"
                formControlName="expMonth" required>
              <mat-error *ngIf="checkOutForm.invalid">please enter a valid exp month</mat-error>
            </mat-form-field><br>

            <div class="row">
              <div class="col-50">
                <mat-form-field appearance="fill">
                  <label for="expyear">Exp Year</label>
                  <input matInput type="number" id="expyear" name="expyear" placeholder="2018" formControlName="expYear"
                    required>
                  <mat-error *ngIf="checkOutForm.invalid">please enter a valid exp month</mat-error>
                </mat-form-field><br>

              </div>
              <div class="col-50">
                <mat-form-field appearance="fill">
                  <label for="cvv">CVV</label>
                  <input matInput type="number" id="cvv" name="cvv" placeholder="352" formControlName="cvv" required>
                  <mat-error *ngIf="checkOutForm.invalid">please enter a valid cvv</mat-error>
                </mat-form-field><br>
              </div>
            </div>
          </div>

        </div>
        <label for="sign-pad">Sign Up</label>
        <app-signing-pad matInput type="number" id="s" name="sign-pad" placeholder="352"></app-signing-pad>
        <input type="submit" value="Continue to checkout" class="btn" (click)="getErrorMessage()"
          (click)="openDialog()">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <ul>
        <h4 class="cart" (dblclick)="openCart()">Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart product-number"></i> <b>{{productNumber}}</b>
          </span>
        </h4>  
      </ul>
      <hr>
      <div *ngIf="cart===true" class="inner-row">
        <li class="list-group-item" *ngFor="let item of cartItems">
          <app-checkout-item [cartItem]="item"></app-checkout-item>
      </div>
      <p>Total <span class="price" style="color:black"><b>{{cartTotal}}</b></span></p>
    </div>
  </div>
</div>