<ul mat-button [matMenuTriggerFor]="menu"><span></span>
    <li content="width=device-width, initial-scale=1" class="fa fa-shopping-cart"
    style="font-size: 36px;" ng-reflect-router-link-active="">
    </li>
  </ul>
  
  <div #wrapper>
  

  
  
  
  </div>
  
  <mat-menu #menu="matMenu"  #aboveMenu="matMenu" yPosition="above" class="cartMenu">
  <div class="formCart" > 
    <h3 class="hh">Cart</h3><br>
    <app-shopping-cart></app-shopping-cart>
    <!-- <ul  *ngIf="cartItems.length > 0" class="list-group"> -->
      <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <li class="list-group-item" *ngFor="let item of cartItems">
        <app-shopping-cart-item [cartItem]="item"></app-shopping-cart-item>    
      </li> 
    </cdk-virtual-scroll-viewport>  -->
     <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of cartItems; templateCacheSize: 0" class="list-group-item">{{item}}</div>
      <app-shopping-cart-item [cartItem]="item"></app-shopping-cart-item> 
    </cdk-virtual-scroll-viewport>  -->
  
       <!-- <cdk-virtual-scroll-viewport itemSize="5" class="example-viewport">  -->
     
     
     <!-- <li routerLinkActive="active"><a routerLink="/shopping-cart-print">jj</a></li> -->
  </div>
  </mat-menu>
  
  
  