button {
    position: absolute;
    height: 26px;
    text-align: center;
    margin: auto;
    margin-top: 6px;
    background-color: #eb4b3f;
    border-color: #eb4b3f;
}

.list-group-item {
    width: 72%;
    height: 50%;
}

img {
    vertical-align: middle;
    width: 230px;
    height: 170px;
}

