table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  } 

 th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 1000px;
  }
  tr{
    width: 100%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  } 