<div class="chat-" cdkDrag>
<img class="robot-icon" src="../../../../assets/img/robot.png" (dblclick)="openBot()">

  <input type="checkbox" name="checkbox" id="input-toggle" class="input-toggle"/>
  <div *ngIf="botClose">
    <button mat-button mat-dialog-close type="button" class="close" data-dismiss="modal" (click)="closeBot()"><span>×</span></button>
    <label for="input-toggle" class="label-for-toggle">
      <span class="message">Hello I'm your chatbot, can I help you?</span>
      <span class="ball arrow">
        <i class="fas fa-arrow-right"></i>
      </span>
      <input class="help-input" (click)="openChatBot()">
    </label>
  </div>

  <div class="chatbot-container" *ngIf="open">
    <button class="chatbot-close" (click)="closeChatBot()">close</button>

    <div class="header">
      <h1>Chatbot</h1>
    </div>
    <div class="chatbot">
      <div class="conversation">
        <div class="chatbot-message">
          <!-- <div class="list-group" 
          *ngFor="let message of messages">
          <div class="chatbot-text user-text"
          [ngClass]="{'chatbot-text': message.bot , 'user-text': !message.bot}">{{message.message}}<br></div></div>
        </div> -->

        <div class="content">
          <div class="full-width" *ngFor="let message of messages">
            <div class="my-row">
              <div class="chatbot-text user-text"
              [ngClass]="{'chatbot-text': message.bot , 'user-text': !message.bot}">{{message.con}}</div>
            </div>

      </div>
      <form class="input-form">
        <input [(ngModel)]="value" (keyup.enter)="sendMessage()" class="input-field" type="text" placeholder="Type your message here" #messageInput>
        <button class="submit-button" type="submit" (click)="sendMessage()">
          send
        </button>

      </form>
    </div>

  </div>
</div>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
 

  <script src="chatbot.js"></script>
</body>