<div>
<tr class="tr"  (click)="(expandedElement = expandedElement === user ? null : user); $event.stopPropagation()">
    <!-- <th>#</th> -->
    <td class="firstName" > {{ user.firstName }} </td>
    <td class="lastName"> {{ user.lastName }}</td> 
</tr></div>
<ng-container>
  
       <tr mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === user ? null : user); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== user" closed></mat-icon>
        <mat-icon *ngIf="expandedElement === user"><tr class="userDetails"><td class="userID">ID: {{ user.id }}, </td>  <td  class="userCountry">Country: {{ user.country }}, </td> 
            <td class="userCity">City: {{ user.city }}, </td> <td class="userAge">Age: {{ user.age }}</td></tr> </mat-icon>
        </tr> 
  
  </ng-container>
 <tr class="userDetails" [class.example-expanded-row]="expandedElement === user"
 (click)="expandedElement = expandedElement === user ? null : user">
  <!-- <td class="userID">ID: {{ user.id }}, </td>  <td  class="userCountry">Country: {{ user.country }}, </td> 
  <td class="userCity">City: {{ user.city }}, </td> <td class="userAge">Age: {{ user.age }}</td></tr>   -->

 