.tbl-customers {
    .header {
        display: flex;
        width: 100%;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        font-weight: bold;
        background-color: #E8E8E8;

        .col {
            border: none;
            text-align: left;
            padding: 8px;
        }

        .content {

            .full-width {
                width: 100%;
            }

            .my-row {
                display: flex;
                width: 100%;
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;

                .inner-row {
                    min-height: 100px;
                }
            }
        }
    }

}

.my-row {
    display: flex;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    cursor: pointer;
}

.first-name {
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.last-name {
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.phone {
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.inner-row {
    padding: 8px;
    border: 1px solid #dddddd;
    min-height: 100px;
    display: flex;
    background-color: #dddddd;
}

.customer-country {
    margin-top: 1.5em;
    padding-bottom: 1em;
    position: relative;
    right: 30px;
}

.customer-city {
    margin-top: 3em;
    padding-bottom: 1em;
    position: absolute;
    right: 106px;
}

.customer-age {
    position: sticky;
    left: 600px;
}

.customer-status {
    position: sticky;
    left: 600px;
    margin-top: 1.5em;
}

img {
    width: 12%;
    left: 1200px;
    position: sticky;
}

.edit-user-button {
    position: sticky;
    left: 761px;
    width: 80px;
    margin-top: 4.5em;
    height: 30px;
}

.customer-color {
    background-color: #F0F0F0;

}

.imagUpload {
    width: 150px;
    left: -29%;
    position: relative;
    height: 150px;
}

.content {
    width: 100%;
    height: 530px;
    overflow: auto;
}

.edit-button {
    background-color: white;
    display: inline-block;
    color: black;
    height: 30px;
    margin-left: 400px;
    margin-top: 33px;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
