<div class="add-user" (click)="addUser()">+</div>
<div class="tbl-users">
    <div class="content">
        <div class="full-width" *ngFor="let user of users">
            <div class="my-row" (dblclick)="editUser(user)">
                <span class="user-id"><span class="title">ID: </span>{{user?.id}} </span>
                <span class="first-name"><span class="title">First Name: </span>{{user?.firstName}}</span>
                <span class="last-name"><span class="title">Last Name: </span>{{user?.lastName}}</span>
                <span class="first-name"><span class="title">UserName: </span>{{user?.userName}}</span>
                <span class="last-name"><span class="title">Password: </span>{{user?.password}}</span>
                <span class="user-role"><span class="title">role: </span>{{user?.role | enumToDescription}}</span>
                <div class="user-img">
                    <img [src]="user?.img">
                </div>
                <div class="delete-user" (click)="deleteUser(user)">-</div>
            </div>
        </div>
    </div>
</div>