<script src="https://kit.fontawesome.com/6ee598a42d.js" crossorigin="anonymous"></script>
<br><button class="add-provider-button" (click)="openAddProviderDialog()">Add New Provider</button><br>
  <div class="tbl-providers">
    <div class="header">
      <div class="first-name col">First Name</div>
      <div class="last-name col">Last Name</div>
      <div class="phone col">Phone</div>
    </div>
    <div class="content">
      <div class="full-width" *ngFor="let provider of providers">
        <div class="my-row" (dblclick)="openRow(provider)">
          <div class="first-name">{{provider.firstName}}</div>
          <div class="last-name">{{provider.lastName}}</div>
          <div class="phone">{{provider.phone}}</div>
        </div>
        <div *ngIf="provider.isOpen" class="inner-row">
          <div class="provider-id"><span class="id title">ID: </span><span class="id info">{{provider.id}}</span></div><br>
          <div class="provider-email"><span class="email title">Email: </span><span class="email info">{{provider.email}}</span></div> 
          <div class="provider-addres"><span class="addres title">Addres: </span><span class="addres info">{{provider.addres}} </span><br></div>
          <div class="provider-description"><span class="description title">Description: </span> <span class="description info">{{provider.description}}</span></div>
          <i class="fa fa-user" aria-hidden="true"></i>
          <button mat-button class="edit-provider-button" (click)="openAddProviderDialog()">edit</button>
        </div>
      </div>
    </div>
  </div>