.iconCart {
  right: -130px;
  position: absolute;
  top: -64px;
}

.plus-minus-input {
  align-items: center;

  .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .input-group-button {
    .circle {
      border-radius: 50%;
      padding: 0.25em 0.8em;
    }
  }
}



button {
  border: 1px solid #ef4478;
  padding: 4px 14px;
  background-color: #ef4478;
  color: #fff;
  text-transform: uppercase;
  float: right;
  margin: 5px 0;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 50px;

}

button:focus {
  outline: none !important;
}

span {
  float: right;
}

p {
  font-size: 14px;
}

.shopping-cart {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}

ngx-pagination {
  padding: 0.1875rem 0.625rem;
  background: black;
  color: #fefefe;
  cursor: default;
}