<div class="new-email">
<h2 mat-dialog-title>New Email</h2>
<mat-dialog-content class="mat-typography">  
  <p>id:</p>
  <input #idInput><br>
  <p>name:</p>
  <input #nameInput><br>
  <p>subject:</p>
  <input #subjectInput><br>
  <p>time:</p>
  <input #timeInput><br>
  <p>descriotion:</p>
  <textarea class="description" name="w3review" rows="4" cols="50" #descriptionInput></textarea><br>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addEmail()" class="btn btn-success">send email</button>
</mat-dialog-content></div>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->
