<div class="modal-header">
  <button mat-button mat-dialog-close type="button" class="close" data-dismiss="modal"><span>×</span></button>
  <h2 mat-dialog-title>New Order</h2>
</div>
<div class="new-order">
  <mat-dialog-content class="mat-typography">
    <span class="order-code title">order code:</span>
    <input #orderCodeInput><br>
    <span class="order-name title">order name:</span>
    <input #orderNameInput><br>
    <span class="date-invitation title">date invitation: </span>
    <input #dateInvitationInput><br>
    <span class="date-arrival title">date arrival:</span>
    <input #dateArrivalInput><br>
    <!-- <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker (click)="dateArrivalSelected(date)"></mat-datepicker>
    </mat-form-field> -->
    <span  class="total">total:</span>
    <input type="number" #totalInput><br>
    <button mat-button class="send-order-button" (click)="addOrder()" mat-dialog-close class="send-order-button">Add
      Order</button>
  </mat-dialog-content>
</div>