<div class="modal-header">
  <button mat-button mat-dialog-close type="button" class="close" data-dismiss="modal"><span>×</span></button>
  <h2 mat-dialog-title>New Order</h2>
</div>
<div class="new-order">
  <mat-dialog-content class="mat-typography">
    <span class="order-code">order code:</span>
    <input #orderCodeInput><br>
    <span class="order-name">order name:</span>
    <input #orderNameInput><br>
    <span class="date-invitation">date invitation: </span>
    <input #dateInvitationInput><br>
    <span class="date-arrival">date arrival:</span>
    <input #dateArrivalInput><br>
    <span class="total">total:</span>
    <input #totalInput><br>
    <button mat-button class="send-order-button" (click)="addOrder()" mat-dialog-close class="send-order-button">Add
      Order</button>
  </mat-dialog-content>
</div>