:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signPad {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #1976d2;
  color: white;
  font-weight: 200px;
  width: 300px;
  height: 35px;
  border-radius: 3px;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px
}

canvas {
  border: 1px solid;
}