  
<a backButton class="backButton" class="btn btn-sm btn-primary" (click)="back()">
  
<strong>back</strong>
</a> 
<app-shopping-cart></app-shopping-cart>
  <h3 class="hh">My Cart</h3><br>
   <div id="printThisCart1" class="cartOfItems">
    <li class="list-group-item" *ngFor="let item of cartItems">
      <app-shopping-payment-item [cartItem]="item"></app-shopping-payment-item> 
    <div class="formCart" > 
     
  
  
  </div>
    </div>
    <!-- <button  type="button" class="btn btn-success btn-md" (click)="printThisPage1('printThisCart')">
          <span class="glyphicon glyphicon-print"></span> Print
    </button>  -->  <li class="list-group-item active">
          <strong>items</strong> {{ this.productNumber }} <br>
          <strong>Total</strong> {{ this.cartTotal | currency:'$' }}    
        </li>    <br>
       
        <button class="paymentButton" class="btn btn-sm btn-primary">
  
          <strong>Payment</strong>
  </button>