<button mat-button [matMenuTriggerFor]="menu">
  <img class="example-element-symbol userIcon" src="../../../../assets/img/icon_user.png">
</button>
<mat-menu #menu="matMenu">
  <div class="user-details">
    <div class="user-name">{{currentUser.userName}}</div>
    <div class="user-setting" (click)="userSetting()">User setting</div>
    <!-- <div class="user-name">{{currentUser.firstName}}</div>
    <div class="user-name">{{currentUser.lastName}}</div>
    <div class="user-name">{{currentUser.role}}</div> -->
  </div>
  <button mat-menu-item (click)="submit()">log out</button>
</mat-menu>