button {
    background-color: transparent;
    border:none;
}

.user-details {
    padding: 6px;
    color: black;
}

.user-setting {
    cursor: pointer;
    padding: 10px;
}

.user-name {
    padding: 10px;

}

.log-out-button {
    color: white;
    background-color: #f44336;
    width: 80%;
    margin: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    text-align: center;
}

.log-out-button:hover {
    background-color: gray;
}