button {
    background-color: transparent;
    border:none;
}

.user-details {
    padding: 4px;
    color: blue;
}

.user-setting {
    cursor: pointer;
}

.log-out-button {
    width: 100%;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: red;
}