<div class="new-provider">
  <div class="modal-header">
    <button mat-button mat-dialog-close type="button" class="close" data-dismiss="modal"><span>×</span></button>
    <h3>New Provider</h3>
  </div><br>
  <mat-dialog-content class="mat-typography">
    <span>First Name:</span>
    <input #firstNameInput>
    <span>Last Name:</span>
    <input #lastNameInput>
    <span>Phone:</span>
    <input #phoneInput>
    <span>ID:</span>
    <input #idInput><br>
    <span>Email:</span>
    <input #emailInput>
    <span>Addres:</span>
    <input #addresInput>
    <span>Description:</span>
    <input #descriptionInput>
    <span>Position:</span>
    <input #positionInput>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="add-button" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addProvider()">Add</button>
  </mat-dialog-actions>
</div>