<div class="card mb-4 shadow-sm" class="list-group-item" style="cursor: pointer">
    {{ productItem.name }}
    <div class="card-body">
      <p class="card-text">
        <strong>{{ productItem.price | currency:'$' }}</strong>
      </p>
      <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.img">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="plus-button" (click)="addToCart(productItem)">+</button>
        </div>
      </div>
    </div>
  </div><br>