.new-user {
  width: 650px;
}

h3 {
  display: inline;
}

input {
  width: 582px;
  display: inline-flex;
}

input {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-user-button {
  background-color: #f44336;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  width: 98%;
}

#ignismyModal .modal-header{
  border:0px;
  display: inline;
}

.title {
  font-weight: bold;
}