.list-group-item {
  width: 300px;
  padding: 2px;
}

.cartMenu {
  min-width: 202px;
  max-width: 350px;
  overflow: hidden;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 204px;
}

button {
  text-align: center;
  margin: auto;
  width: 300px;
  background-color: black;
}

.list-group {
  overflow: hidden;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: black;
  border-color: black;
  overflow: hidden;
  padding: 2px;
}

li{
  padding: 2px;
}

form {
  overflow: hidden;
  padding: 2px 2px;
}