<a backButton class="backButton" class="btn btn-sm btn-primary" (click)="back()">
  <strong>back</strong>
</a>
<h3 class="hh">My Cart</h3><br>
<div id="printThisCart1" class="cartOfItems">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <app-shopping-payment-item [cartItem]="item"></app-shopping-payment-item>
    <div class="formCart">
    </div>
</div>
<li class="list-group-item active">
  <strong>items</strong> {{ this.productNumber }} <br>
  <strong>Total</strong> {{ this.cartTotal }}$
</li><br>
<button class="btn btn-sm btn-primary" routerLink="/checkout">
  <strong>Checkout</strong>
</button>