button {
  z-index: 2;
  color: #fff;
  background-color: black;
  width: 100%
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: black;
  border-color: black;
}

.backButton {
  background-color: blue;
  width: 30%
}

.minus-button {
  float: left;
  position: absolute;
  height: 26px;
  text-align: center;
  margin: auto;
  left: 220px;
  top: -28px;
  background-color: black;
}